
<div class="container d-flex flex-column bd-highlight justify-content-center mb-3">
  <button type="button" class="btn btn-dark api-btn align-self-center mt-3" (click)="open(content)">
    Consumir API
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tabla de resultados</h4>
    <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-template [ngIf]="!isLoading">
      <table class="table table-responsive table-dark table-borderless">
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Number</th>
            <th scope="col">Quantity</th>
            <th scope="col">First Position</th>
            <th scope="col">Last Position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of arr; index as i" [ngClass]="{'bg-success': el.ocurr >= 2, 'bg-warning': el.ocurr === 1, 'bg-light': el.ocurr < 1}">
            <td scope="row">{{ i + 1 }}</td>
            <td>{{ el.num }}</td>
            <td>{{ el.ocurr }}</td>
            <td>{{ el.firstIdx + 1 }}</td>
            <td>{{ el.lastIdx + 1 }}</td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-info" role="alert">
        {{ bubbleSort(uniqueNumbers) }}
      </div>
    </ng-template>
    <ng-template [ngIf]="isLoading">
      <ngx-skeleton-loader count="8" [theme]="{ height: '50px' }"></ngx-skeleton-loader>
    </ng-template>
  </div>
</ng-template>