
<div class="container d-flex flex-column bd-highlight justify-content-center mb-3">
  <button type="button" class="btn btn-dark api-btn align-self-center mt-3" (click)="open(content)">
    Consumir API
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tabla de resultados</h4>
    <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-template [ngIf]="!isLoading">
      <table class="table table-responsive table-dark table-borderless">
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col" *ngFor="let letter of alphabet">{{ letter.toUpperCase() }}</th>
            <th scope="col" >+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paragraph of paragraphs; index as i">
            <td scope="row">{{ i + 1 }}</td>
            <td *ngFor="let letter of alphabet">{{ countLetters(paragraph, letter) }}</td>
            <td>{{ calculateNumber(paragraph) }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <ng-template [ngIf]="isLoading">
      <ngx-skeleton-loader count="8" [theme]="{ height: '50px' }"></ngx-skeleton-loader>
    </ng-template>
  </div>
</ng-template>